@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General";
  src: url("/assets/fonts/GeneralSans-Regular.woff");
}

body {
  @apply mx-8;
  @apply bg-bg;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0;
  }

  main {
    padding-bottom: 2rem;
  }
}